body {
    font-family: Roboto;
    color: white;
    background-color: gainsboro;
}

h1 {
    color: black;
    font-family: monospace;
}

p1 {
    color: chocolate;
    font-family: monospace
}

p3 {
    color: chocolate;
    font-family: monospace
}
