body {
    font-family: sans-serif;
    color: white;
    background-color: #b6b6b6;
}

h1, h2, h3 {
    color: black;
    font-family: monospace;
}


p3 {
    color: antiquewhite;
    font-family: monospace
}

a {
    color: #3366ff
}
p#niceIDbro {
    color: black
}
